* {
    box-sizing: border-box;
  }
  
  body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .fullscreen-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  }
  
  .form-container {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Change to center */
    align-items: center;
    width: 800px;
    background-color: white;
    border-radius: 20px;
    padding: 35px;
    margin: 10px;
  }
  
  .form-titles {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;  
  }
  
  .form-titles h3 {
    font-size: 30px;
  }
  
  .password-requirements {
    float: left;
    text-align: left;
    color: red;
    font-size: 13px;
    text-align: center;  
    max-width: 80%;
  }
  
  .forms-inputs {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 80px;
  }
  
  .passwordInput,
  .confirmPasswordInput {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    font-size: 14px;
    border: #496187;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #efefef;
    color: #496187;
  }
  
  .passwordInput:focus,
  .confirmPasswordInput:focus {
    padding: 15px;
  }
  
  .btn-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
    margin-right: 65px;
  }
  
  .btn-back,
  .btn-confirm {
    width: 120px;
    height: 40px;
    font-size: 14px;
    background-color: #496187;
    color: white;
    border-radius: 10px;
    border: none;
  }
  
  .btn-back:hover,
  .btn-confirm:hover {
    background-color: #2b4566;
  }
  
  .password-requirements li {
    color: red;
  }
  
  .password-requirements li.valid {
    color: green;
  }
  
  .password-requirements li.error {
    color: red;
  }
  
  .popup-complete-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .popup-complete {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: #496187;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    z-index: 1000;
  }
  