.card {
  height: auto;
  width: 130vh;
  border-radius: 25px;
  box-shadow: 0 4px 8px var(--box-shadows);
  padding: 20px;
}

.card-body {
  min-height: 1;
  margin: 10px;
  padding: 10px;
  color: var(--text-light-1);
}

.card-body img {
  margin: 0px;
  margin-top: 0px;
}

.card-body h3 {
  font-size: 25px;
  margin-bottom: 0px;
}

.card-body h5 {
  font-size: 12px;
  margin-bottom: 0px;
}

.card-body p {
  font-size: 12px;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.form-control.confirm-password {
  margin-bottom: 10px;
}

.form-control label {
  margin-bottom: 10px;
  font-size: 12px;
}

.form-control input {
  padding: 8px;
  border: 1px var(--form-border);
  border-radius: 5px;
  font-size: 12px;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.back-btn,
.submit-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 14px;
}

.back-btn {
  background-color: var(--btn-color);
  color: var(--text-color-white);
  margin-right: 10px;
}

.back-btn:hover {
  background-color: var(--btn-hover);
}

.submit-btn {
  background-color: var(--btn-color);
  color: var(--text-color-white);
}

.submit-btn:hover {
  background-color: var(--btn-hover);
}

.error-message {
  color: var(--error-message);
  font-size: 12px;
  margin-top: 5px;
}
