# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Resources inside 'backend' folder
# Environment Variables - Database Configuration
backend/.env
# Keeps the example file
!backend/.env.example
# Ignores build folder
backend/build/
# Ignores cmake-build-debug
backend/cmake-build-debug/