# Database Configuration
DB_URL=jdbc:postgresql://yourhost:port/nameofyourdb
DB_USERNAME=user
DB_PASSWORD=password

# Server Configuration
SERVER_PORT=3000

# JWT Configuration
JWT_SECRET=changeThisInProduction
JWT_EXPIRATION=86400000

# CORS Configuration
ALLOWED_ORIGIN=http://localhost:5173
