*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --header-bg: rgba(75, 198, 235, 0.1);
  --background: #242424;
  --text-light-1: rgba(255, 255, 255, 0.87);

  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--text-light-1);
  background-color: var(--background);

  /* EDUARDO´S COLORS*/
  --recover-bg: #abb4c3;
  --card-bg: #ffffff;
  --buttons-color: #496187;
  --text-color: #496187;
  --btn-hover-color: #2b4566;
  --input-bg-color: #efefef;
  --text-color-white: #ffffff;
  --box-shadow: black;
  --error-message: red;
  --requirement-complete: green;
}

body {
  margin: 0;
}
