.game-outside-layout {
  width: 100%;
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-main-layout {
  display: grid;
  grid-template-columns: 10% auto 15%; /* Sidebars take equal space */
  width: 100%;
  height: 100%;
  align-items: center;
}

.game-content {
  width: 100%;
  height: 100%;
  background-image: url(../../assets/images/image.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.game-menu-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: var(--background-light);
  height: 100%;
  border-radius: 1000px;
}

.game-menu-logo {
  width: 50%;
  margin: 0 auto;
}

ul {
  width: 50%;
  height: 60%;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: black;
}

.game-menu-option {
  list-style: none;
  width: 100%;
  aspect-ratio: 1/1;
  padding: 0.5rem;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
}

.game-menu-bar > button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  height: 7.5%;
}

.game-buttons-bar {
  background-color: var(--background-light);
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  border-radius: 1000px;
}

.game-controls-buttons-div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2rem;
  margin-inline: 1rem;
}

.game-controls-button {
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  border: var(--text-dark-1) solid 2px;
  background: transparent;
  width: 100%;
  padding: 1rem 2rem;
  cursor: pointer;

  &:hover {
    background-color: var(--input-bg-1);
  }
}

.game-controls-gamepad {
  aspect-ratio: 1/1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  place-items: center;
}

.game-controls-gamepad > button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  background-color: lightgray;
  cursor: pointer;
  border-radius: 5px;
  height: 80%;
  width: 80%;
  border: 2px solid black;
  border-radius: 10px;
  background-color: transparent;
}

.up {
  grid-column: 2;
  grid-row: 1;
}
.left {
  grid-column: 1;
  grid-row: 2;
}
.right {
  grid-column: 3;
  grid-row: 2;
}
.down {
  grid-column: 2;
  grid-row: 3;
}
