.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.container>div {
  width: 100%;
}

.container>div:nth-child(1) {
  background-color: var(--background-light-2);
}

.container>div:nth-child(2) {
  background-color: var(--background-light);
}

.login-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #F0EFF0;
  text-align: center;
  width: 100%;
  height: 100vh;
}

.register-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-image: url("/register_map.png");
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  height: 100vh;
}

.register-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
}

.register-container * {
  position: relative;
  z-index: 1;
}

.signup-h1 {
  font-size: 3rem;
  color: var(--text-dark-1);
  text-align: center;
  margin-bottom: 2rem;
  font-size: 50px;
  font-weight: 700;
  font-family: 'DM Sans', sans-serif;
  color: #3466AF;
}

.signup-form-container {
  width: 100%;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.85rem;
}

.signup-input {
  width: 90%;
  padding: 20px;
  margin-bottom: 5px;
  border-radius: 20px;
  background-color: #F0EFF0;
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  border: none;
  outline: none;
}

.signup-input:focus {
  border: none;
  outline: none;
}

.submit-btn {
  background-color: #3466AF;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  color: white;
  font-size: 18px;
  border-radius: 25px;
  width: 200px;
  height: 50px;
  padding: 15px;
  border: none;
}

.signup-info-p {
  margin: 0 auto;
  color: var(--text-light-1);
  font-size: 1.125rem;
  max-width: 26ch;
  word-wrap: break-word;
  text-align: center;
  color: #21386E;
  font-size: 20px;
  font-family: 'DM Sans', sans-serif;
  margin-bottom: 20px;
}

.login-btn {
  background-color: #F22323;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  color: white;
  font-size: 18px;
  border-radius: 25px;
  width: 200px;
  height: 50px;
  padding: 15px;
  border: none;
}

.signup-warning {
  align-self: flex-start;
  font-size: 0.75rem;
  padding-left: 1ch;
  color: var(--text-dark-1);
}

.pass-validation {

  color: var(--text-dark-1);
  align-self: flex-start;
  padding-left: 2ch;
}

.pass-validation>p {
  position: relative;
}

.pass-validation>p::before {
  content: '';
  position: absolute;
  height: 0.75ch;
  width: 0.75ch;
  left: 0;
  top: 0;
  border-radius: 100px;
  transform: translateX(-50%) translateY(125%);
  background-color: var(--text-dark-1);
}

.pass-validation:empty {
  display: none;
}