.battle-main-container {
  position: absolute;
  width: 32vw;
  height: 75vh;
  top: 0;
  right: 0;
  margin-top: 120px;
  margin-right: 25px;
  border: black 3px solid;
  border-radius: 20px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.battle-history-header {
  position: absolute;
  display: flex;
  top: 3vh;
  gap: 15px;
}

.battle-history-records {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.no-records {
  color: lightgray;
}
