.game-outside-layout {
  max-width: 1420px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
}

.game-main-layout {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}

.game-menu-bar {
  min-width: 10%;
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: var(--background-light);
  height: 100%;
  border-radius: 1000px;
}

.game-menu-logo {
  width: 50%;
  margin: 0 auto;
}

.game-menu-ul {
  width: 50%;
  height: 60%;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: black;
}

.game-menu-option {
  list-style: none;
  width: 100%;
  aspect-ratio: 1/1;
  padding: 0.5rem;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
}

.game-menu-bar > button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  height: 7.5%;
}
