.game-outside-layout {
  width: 100%;
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-main-layout {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

.game-menu-bar {
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: var(--background-light);
  height: 100%;
  border-radius: 1000px;
}

.game-menu-logo {
  width: 50%;
  margin: 0 auto;
}

ul {
  width: 50%;
  height: 60%;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: black;
}

.game-menu-option {
  list-style: none;
  width: 100%;
  aspect-ratio: 1/1;
  padding: 0.5rem;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
}

.game-menu-bar > button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  height: 7.5%;
}

.game-buttons-bar {
  width: 15%;
  background-color: var(--background-light);
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  border-radius: 1000px;
}

.game-controls-buttons-div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1.5rem;
  margin-top: 10%;
  margin-inline: 10%;
}

.game-controls-button {
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  border: var(--text-dark-1) solid 2px;
  background: transparent;
  padding: 0.75rem 1rem;
  width: 80%;
  cursor: pointer;

  &:hover {
    background-color: var(--input-bg-1);
  }

  &:disabled {
    background-color: #f0f0f0;
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.game-controls-gamepad {
  padding: 1.25rem;
  aspect-ratio: 1/1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  place-items: center;
}

.game-controls-gamepad > button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  cursor: pointer;
  border-radius: 5px;
  height: 80%;
  width: 80%;
  border: 2px solid black;
  border-radius: 10px;
  background-color: transparent;
}

.up {
  grid-column: 2;
  grid-row: 1;
}
.left {
  grid-column: 1;
  grid-row: 2;
}
.right {
  grid-column: 3;
  grid-row: 2;
}
.down {
  grid-column: 2;
  grid-row: 3;
}

.game-grid {
  max-height: 100vh;
  max-width: 100%;
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  display: grid;
  grid-template-columns: repeat(26, 1fr);
  grid-template-rows: repeat(26, 1fr);
}

.game-content {
  max-height: 100vh;
  aspect-ratio: 1;
  background-image: url(../../assets/images/image.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-pokemon {
  cursor: pointer;
  background-position: center;
  background-size: cover;
}

.game-content-message {
  grid-row-start: 2;
  grid-row-end: 6;
  grid-column-start: 4;
  grid-column-end: 24;
  background-color: rgb(49, 49, 49);
  border: 3px dashed red;
  padding-block: 3rem;
  border-radius: 15px;
  font-weight: bold;
  font-size: xx-large;
  text-align: center;
  margin: auto 0;
}
